# Xcode
xcuserdata/
*.xcuserstate
DerivedData/

# macOS
.DS_Store

# Build
build/

# Swift Package Manager
.build/
Packages/

# Environment variables
.env

# Xcode user state
*.xcuserstate
xcuserdata/

baseURL.swift